<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mygdx.game">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:appCategory="game"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".TableLeader"></activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="Elbrium"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AndroidLauncher"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EmailPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About_us"
            android:screenOrientation="portrait" />
    </application>

</manifest>